<h3>
  Please login for the full functionality.
</h3>

<div class="left">
  <h3>Don't have an account with us yet? </h3>
    <p>Register today to add your organization and start planning your events!</p> 
  <form>
    <label>
      User Name:
      <input type="text">
    </label>
    <label>
      Email:
      <input type="text">
    </label>
    <label>
      Password:
      <input type="text">
    </label>
    <br>
    <button >Register</button>
  </form>
</div>

<div class="right">
  <h3>Already have an account?</h3>
  <p>Welcome back! Please login.</p>
  <form>
    <label>
      User Name:
      <input type="text">
    </label>
    <label>
      Email:
      <input type="text">
    </label>
    <label>
      Password:
      <input type="text">
    </label>
    <br>
    <button>Login</button>
  </form>
</div>