<div class="jumbotron">
    <h1 class="display-4">(NGO plus plus) - Empower your organization with the ability to coordinate with your allies that have similar goals.</h1>
    <hr class="my-4">
    <h4>Our mission is to help your organization match and find co-sponsors for your special events.</h4>
    <a class="btn btn-primary btn-lg" href="#" role="button">Get Started</a>
  </div>
<hr>

<div>
  <h3>Event Calendar</h3>
  <div class="event">
    <div class="date">
      <p>23</p>
      <p>OCT</p>
    </div>
    <div class="info">
      <h3>Event Name</h3>
      <p><i class="far fa-calendar-alt"> Monday </i> <i class="far fa-clock">2pm</i> <i class="fas fa-location-arrow"></i>Cafe</p>
      <p>Some info</p>
    </div>
  </div>
</div>

<hr>

<div>
  <h2>List of Orgs</h2>
  <p *ngFor= "let o of orgs"><a [routerLink]="['/orgs',o.id]">{{o.name}}</a> Link: <a href="{{o.website}}">Website</a></p>
  <p>Name <a>link to their website</a></p>
  <p>Name <a>link to their website</a></p>
</div> --> -->