
<h3>Empower your organization with the ability to coordinate with your allies that have similar goals.</h3>
<p>Our mission is to help your organization match and find co-sponsors for your special events.</p>
<img class="mainImg" src="/public/src/assets/img/collaboration-community-cooperation-872955.jpg" alt="huddle">

<hr>

<div>
  <h2>Event Calendar</h2>
  <p>new events!</p>
  <ul>
    <li>Event name, date, town/state</li>
    <li>Event name, date, town/state</li>
    <li>Event name, date, town/state</li>
  </ul>
</div>

<hr>

<div>
  <h2>List of Orgs</h2>
  <p>Name <a>link to their website</a></p>
  <p>Name <a>link to their website</a></p>
  <p>Name <a>link to their website</a></p>
</div>