<div class="title">
    <h1>Create an Event</h1>
  </div>


  <div *ngIf="step1" class="progress" style="height: 30px;">
    <div class="progress-bar progress-bar-striped progress-bar-animated active" role="progressbar" aria-valuenow="33"
      aria-valuemin="0" aria-valuemax="100" style="width:33%">Step {{step}} of 3</div>
  </div>
  <div *ngIf="step2" class="progress" style="height: 30px;">
    <div class="progress-bar progress-bar-striped progress-bar-animated active" style="width:69%;">Step {{step}} of 3</div>
  </div>
  <div *ngIf="step3" class="progress" style="height: 30px;">
    <div class="progress-bar progress-bar-striped progress-bar-animated active" style="width:100%;">Step {{step}} of 3</div>
  </div>


  <div class="form">

    <br>
    <br>
    <form (submit)="newEventSubmission()" class="postForm form-horizontal">
      <div *ngIf="step1">
        <div class="form-group">
          <label class="cold-md-4 control-label">Title:</label>
          <div class="col-md-6">
            <input type="text" name=newEvent.title [(ngModel)]="newEvent.title" class="form-control input-md">
          </div>
        </div>
        <div class="form-group">
          <label class="cold-md-4 control-label">Date:</label>
          <div class="col-md-6">
            <input type="datetime-local" name=newEvent.date [(ngModel)]="newEvent.date" class="form-control input-md">
          </div>
        </div>
        <!-- <label>Time:</label>
      <br>
      <input type="time" name=newEvent.time [(ngModel)]="newEvent.time">
      <br> -->
        <div class="buttons col-md-6">
          <button (click)="step2switch()" class="btn btn-outline-primary"> Next <i class="fas fa-arrow-right"></i>
          </button>
        </div>
      </div>
      <div *ngIf="step2">
        <div class="form-group">
          <label class="cold-md-4 control-label">Street Address:</label>
          <div class="col-md-6">
            <input type="text" name=newEvent.street [(ngModel)]="newEvent.street" class="form-control input-md">
          </div>
        </div>
        <div class="form-group">
          <label class="cold-md-4 control-label">City:</label>
          <div class="col-md-6">
            <input type="text" name=newEvent.city [(ngModel)]="newEvent.city" class="form-control input-md">
          </div>
        </div>
        <div class="form-group">
          <label class="cold-md-4 control-label">State eg ("WA"):</label>
          <div class="col-md-6">
            <input type="text" name=newEvent.state [(ngModel)]="newEvent.state" class="form-control input-md">
          </div>
        </div>
        <div class="form-group">
          <label class="cold-md-4 control-label">Zip Code:</label>
          <div class="col-md-6">
            <input type="text" name=newEvent.zip [(ngModel)]="newEvent.zip" class="form-control input-md">
          </div>
        </div>
        <input type="hidden" value="{{id}}" name=newEvent.host [(ngModel)]="newEvent.host">
        <div class="buttons col-md-6">
          <button (click)="step1switch()" class="btn btn-outline-primary"><i class="fas fa-arrow-left"></i> Previous
          </button>
          <button (click)="step3switch()" class="btn btn-outline-primary"> Next <i class="fas fa-arrow-right"></i></button>
        </div>
</div>
      <div *ngIf="step3">
        <div class="form-group">
          <label class="cold-md-4 control-label">Photo Link:</label>
          <div class="col-md-6">
            <input type="text" name=newEvent.photo [(ngModel)]="newEvent.photo" class="form-control input-md">
          </div>
        </div>
        <div class="form-group">
          <label class="cold-md-4 control-label">Zip Code:</label>
          <div class="col-md-6">
            <textarea type="text" name=newEvent.details [(ngModel)]="newEvent.details" class="form-control input-md"></textarea>
          </div>
        </div>
        <div class="buttons col-md-6">
          <button (click)="step2switch()" class="btn btn-outline-primary"><i class="fas fa-arrow-left"></i> Previous
          </button>
          <button class="btn btn-outline-success"> Submit <i class="fas fa-arrow-right"></i></button>
        </div>
      </div>
    </form>
  </div>

