<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
</head>
<div class="container">
  <div class="eventDetails">
    <div *ngIf="event" class="image">
      <img style="height:250px" class="photo" [src]="event.photo">
    </div>
    <br>
    <div class="main">
      <div class="detailscontainer">
        <div class="details">
          <h1>{{event.title}}</h1>
          <p>{{event.details}}</p>
          <p>Date: {{event.date | date: 'EEEE MMM d'}}</p>
          <p>Time:{{event.date | date: 'h:mm a'}}</p>
          <h5>Address:</h5>
          <p>{{event.street}} </p>
          <p>{{event.city}}, {{event.state}} {{event.zip}}</p>
        </div>
        <!-- BUTTON TO EDIT ORGANIZATION DETAILS -->
        <div *ngIf="admin==true">
          <a class="btn btn-outline-primary" [routerLink]="['/event/edit/'+ eventId]">Edit Details</a>
        </div>
      </div>

      <div *ngIf="map" class="map ">
        <iframe width="300px" height="300px" frameborder="0" style="border:0" [src]="map | safe" allowfullscreen></iframe>
      </div>
      <h4>Host Organizations:</h4>
      <div *ngFor="let sponsor of sponsors">
        <p><a [routerLink]="['/orgs','details',sponsor[0]]">{{sponsor[1]}}</a></p>
      </div>
      <div *ngIf="showCohost == true">
        <p>Want to co-sponsor the event?</p>
        <button (click)="addCosponsor()">co-sponsor</button>
      </div>
      <div *ngIf="signedin" class="messages">
        <div>
          <h4>Post a Message to the Event</h4>
          <form>
            <input type="text" name="content" [(ngModel)]="newMessage.content" />
            <button (click)="submitMessage()">Post Message</button>
          </form>
          <br>
        </div>
        <div *ngFor="let message of event.messages">
          <div>
            <p><span style="font-weight:bold">{{message.authorName}} says:</span> {{message.content}} </p>
            <div class="delete">
              <button class="butn btn-outline-secondary" *ngIf="message.authorId==user" (click)="deleteMessage(message['_id'])">Delete</button>
            </div>
          </div>
          <hr>
        </div>
      </div>
    </div>
  </div>

</div>