<div *ngIf="event" class="image">
  <img class="photo" [src]="event.photo">
</div>
<div class="details">
  <h1>{{event.title}}</h1>
  <p>{{event.details}}</p>
  <p>Date: {{event.date}}</p>
  <p>Time: {{event.time}}</p>
</div>
<div class="address">
  <h5>Address:</h5>
  <p>{{event.street}} </p>
  <p>{{event.city}}, {{event.state}} {{event.zip}}</p>
</div>
<!-- <div class="map">
    <iframe
        width="500px"
        height="400px"
        frameborder="0" style="border:0"
        [src]="map | safe" allowfullscreen>
    </iframe>
</div> -->
<div *ngFor="let sponsor of sponsors">
<h5>Host Organizations:</h5>
<p>{{sponsor[1]}}</p>
</div>
