.image{
    width:100%;
    max-height: 300px;
    text-align: center;
}
.photo{
    vertical-align: middle;
    border-style: inset;
    height: 250px;
    
}
.address{
    display:inline-block;
    vertical-align: top;
    margin-left:5%;
}
.details{
    margin-left:5%;
}
.map{
width:40%;
height:20%;
margin-left:30%;
display:inline-block;
vertical-align:top;
}
.detailscontainer{
    max-width:30%;
    margin-left:10%;
    display:inline-block;
    vertical-align:top;
}
.delete{
    background:none!important;
     color:inherit;
     border:none; 
     padding:0!important;
     font: inherit; 
     cursor: pointer;
     margin-left:60%;
     margin-top:-10px;
}
.messages{
    margin-top:-20px;
    margin-left:10px;
    max-width:40%;
    max-height:200px;
    border:2px solid black;
    overflow:auto;
    
}
