.map{
    display:inline-block;
}

.alert{
    color:rgb(23, 172, 18);
}

.title{
    text-align: center;
}


.logo{

    display:inline-block;
    max-height:150px;
    max-height:150px;
}
.name{
    display:inline-block;
    margin-left:5%;

}
.mission{
    text-align: center;
    margin-top: 10px;
}

.Buttons{
    text-align: center;
}
.Buttons *{
    margin: 10px;
}

.eventsBody{
    margin: 20px;
}

.eventcontainer{
    margin-left:5%;
}


.events{
    margin-top:2%;
    max-width:50%;
    max-height:400px;
    margin-left:10px;
}

.details{
    width:40%;
    display:inline-block;
    margin:10px;
    /* vertical-align: top; */
}

.eventdetails{
    max-height: 200px;
    overflow: auto;
}

.eventImage{
    display: inline-block;
    vertical-align: top;
    height:150px;
    margin: 10px;
}

.contacts{
    text-align: center;
}
.footaddress{
    display:inline-block;
    vertical-align: bottom;
}
.footcontact{
    display:inline-block;
    vertical-align: bottom;
    margin-left:20px;
}