.details{
    max-width:40%;
    display:inline-block;
    margin-left:5%;
}
.map{
    display:inline-block;
}
footer{
    margin-top:5%;
    width:100%;

}
.footaddress{
    display:inline-block;
    vertical-align: bottom;
}
.footcontact{
    display:inline-block;
    vertical-align: bottom;
    margin-left:60%;
}
.events{
    margin-top:2%;
    max-width:50%;
    max-height:400px;
    margin-left:10px;
    

}
.alert{
    color:rgb(23, 172, 18);
}
.logodiv{
    margin-left:5%;
    display:inline-block;
    max-height:150px;
}
.logo{

    max-height:150px;
}
.name{
    display:inline-block;

    margin-left:27%;

}
.mission{
    display:inline-block;
    margin-left:20%;
    margin-top:20px;
    max-width:20%;
    vertical-align: middle;

}
.eventcontainer{
    max-width:30%;
    margin-left:5%;
}
/* .background{
    background-image: url('../../assets/img/background2.jpeg');
    background-size: cover;
} */
